<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="aboutus.css">

    <link rel="stylesheet" href="background.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">‏
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
</head>
<body>
    <header id="home">
         <%- include('./layout/nav.ejs') %> 
        <h1>Mr. Quiz </h1>
    </header>
    <body>
        
        </header>
    </body>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
    </script>
    </nav>
    <main>
        <div class='light x1'></div>
        <div class='light x2'></div>
        <div class='light x3'></div>
        <div class='light x4'></div>
        <div class='light x5'></div>
        <div class='light x6'></div>
        <div class='light x7'></div>
        <div class='light x8'></div>
        <div class='light x9'></div>
        <div class="photos">
            <div class="wrap">
                <div class="tile ">
                    <img src='https://ca.slack-edge.com/TNGRRLUMA-U01KETYH859-c16041f672a4-512'>
                    </a>
                    <div class="text">
                        <h2 class="animate-text">Suhib Kharoush</h2>
                        <a href="https://github.com/suhib-kharoush" target="_blank"><i class="fab fa-github fa-3x circle-icon animate-text "></i></a>
                    </div>
                </div>
                <div class="tile">
                    <img src='https://ca.slack-edge.com/TNGRRLUMA-U01KLSRA8AY-ba7d9ad4a179-512' />
                    <div class="text">
                        <h2 class="animate-text">Nihad Zeidan</h2>
                        <a href="https://github.com/NihadZeidan" target="_blank"><i class="fab fa-github fa-3x circle-icon animate-text "></i></a>
                    </div>
                </div>
                <div class="tile">
                    <img src='https://ca.slack-edge.com/TNGRRLUMA-U01KBK9EYCV-8fc99be0c492-512' />
                    <div class="text">
                        <h2 class="animate-text">QusaiQeshta</h2>
                        <a href="https://github.com/qusaiqishta" target="_blank"><i class="fab fa-github fa-3x circle-icon animate-text "></i></a>
                    </div>
                </div>
            </div>
            <!-- <div class = "new"> -->
            <div class="tile girls">
                <img src='https://avatars.githubusercontent.com/u/43066612?v=4' />
                <div class="text">
                    <h2 class="animate-text">Malak Al-momani
                    </h2>
                    <a href="https://github.com/malakMomani" target="_blank"><i class="fab fa-github fa-3x circle-icon animate-text "></i></a>
                </div>
            </div>
            <div class="tile girls">
                <img src='https://avatars.githubusercontent.com/u/77914804?v=4' />
                <div class="text">
                    <h2 class="animate-text">Duha yousef</h2>
                    <a href="https://github.com/duha253" target="_blank"><i class="fab fa-github fa-3x circle-icon animate-text "></i></a>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <nav>
            <div id="mySidenav" class="sidenav">
                <div id="logo">
                    <span class="profile-img"><img src="https://www.hrzone.com/sites/all/themes/pp/img/default-user.png" width="110px" /></span>
                </div>
                <div id="options">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/">Home</a>
                    <a href="/start">Quizzes</a>
                    <a href="/scores">Scores</a>
                    <a href="/profile">Profile</a>
                    <a href="/about-us">About-Us</a>
                </div>
                <div class="icon-bar">
                    <div> <a id="active1" href="#"><i class="fa fa-home"></i></a>
                    </div>
                    <div> <a id="active2" href="#"><i class="fa fa-search"></i></a>
                    </div>
                    <div> <a id="active3" href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                    <div> <a id="active4" href="#"><i class="fa fa-globe"></i></a>
                    </div>
                </div>
            </div>
        </nav>

        </header>


    </body>


    <!-- <span style="font-size:50px;cursor:pointer; color: aliceblue;" onclick="openNav()">&#9776; </span> -->

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
    </script>
    </nav>






    <main>
        <div class='light x1'></div>
        <div class='light x2'></div>
        <div class='light x3'></div>
        <div class='light x4'></div>
        <div class='light x5'></div>
        <div class='light x6'></div>
        <div class='light x7'></div>
        <div class='light x8'></div>
        <div class='light x9'></div>

        <div class="photos">
            <div class="wrap">
                <div class="tile ">
                    <img src='https://ca.slack-edge.com/TNGRRLUMA-U01KETYH859-c16041f672a4-512'>
                    </a>
                    <div class="text">
                        <h2 class="animate-text">Suhib Kharoush</h2>
                        <a href="https://github.com/suhib-kharoush" target="_blank"><i class="fab fa-github fa-3x circle-icon animate-text "></i></a>
                    </div>
                </div>
                <div class="tile">
                    <img src='https://ca.slack-edge.com/TNGRRLUMA-U01KLSRA8AY-ba7d9ad4a179-512' />
                    <div class="text">
                        <h2 class="animate-text">Nihad Zeidan</h2>
                        <a href="https://github.com/NihadZeidan" target="_blank"><i class="fab fa-github fa-3x circle-icon animate-text "></i></a>
                    </div>
                </div>
                <div class="tile">
                    <img src='https://ca.slack-edge.com/TNGRRLUMA-U01KBK9EYCV-8fc99be0c492-512' />
                    <div class="text">
                        <h2 class="animate-text">QusaiQeshta</h2>
                        <a href="https://github.com/qusaiqishta" target="_blank"><i class="fab fa-github fa-3x circle-icon animate-text "></i></a>
                    </div>
                </div>
            </div>
            <!-- <div class = "new"> -->
            <div class="tile girls">
                <img src='https://avatars.githubusercontent.com/u/43066612?v=4' />
                <div class="text">
                    <h2 class="animate-text">Malak Al-momani
                    </h2>
                    <a href="https://github.com/malakMomani" target="_blank"><i class="fab fa-github fa-3x circle-icon animate-text "></i></a>
                </div>
            </div>
            <div class="tile girls">
                <img src='https://avatars.githubusercontent.com/u/77914804?v=4' />
                <div class="text">
                    <h2 class="animate-text">Duha yousef</h2>
                    <a href="https://github.com/duha253" target="_blank"><i class="fab fa-github fa-3x circle-icon animate-text "></i></a>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <nav>

            <div id="mySidenav" class="sidenav">


                <div id="logo">
                    <span class="profile-img"><img src="https://www.hrzone.com/sites/all/themes/pp/img/default-user.png" width="110px" /></span>
                </div>

                <div id="options">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/">Home</a>
                    <a href="/start">Quizzes</a>
                    <a href="/scores">Scores</a>
                    <a href="/profile">Profile</a>
                    <a href="/about-us">About-Us</a>

                </div>


                <div class="icon-bar">
                    <div> <a id="active1" href="#"><i class="fa fa-home"></i></a>
                    </div>
                    <div> <a id="active2" href="#"><i class="fa fa-search"></i></a>
                    </div>
                    <div> <a id="active3" href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                    <div> <a id="active4" href="#"><i class="fa fa-globe"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </main>


    </main>

</body>
</html>