<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Quiz</title>
</head>
<body>
    <h1>Feel Free To Add Your Own Quiz</h1>
<h4><a href="/profile">Profile Page</a></h4>



    <form action="/quiz" method="POST">
        <legend>Add Your Own Quiz</legend>
        <fieldset>
            <div> <input type="text" name="question" placeholder="Add Your Question" /> </div>
            <div> <input type="text" name="optionA" placeholder="First Option" /></div>
            <div> <input type="text" name="optionB" placeholder="Second Option" /></div>
            <div> <input type="text" name="optionC" placeholder="Third Option" /></div>
            <div> <input type="text" name="optionD" placeholder="Fourth Option" /></div>
            <div> <input type="text" name="correctAnswer" placeholder="Add The Correct Answer" /></div>
            <div> <input type="submit" name="submit" placeholder="Add your question" /></div>
        </fieldset>
    </form>



</body>
</html>
    