<!DOCTYPE html>

<html style="margin-top: -65px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="score.css">
    <link href="nav" rel="stylesheet">
</head>

<body>
    <header id="home">
        <%- include('./layout/nav.ejs') %>

            <h1 style="line-height: calc(235px + 10vh);">Mr. Quiz </h1>
    </header>
    <br>
    <main>
        <span class="heading">Score board</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p>Your Scores.</p>
        <hr style="border:3px solid #f1f1f1">


        <% scores.forEach((score ,index) =>{ %>
            <% console.log(score.userresult); %>
                <div class="row">
                    <div class="side">
                        <div>
                            <%= `Score ${index+1}`%>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-<%=(scores.length)-index%>"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>
                            <%= `${score.userresult}%`%>
                        </div>
                    </div>
                </div>
                <% }); %>
    </main>
</body>

</html>