<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Font Awesome Icon Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="score.css">
</head>
<body>
    <header id="home">
        <%- include('./layout/nav.ejs') %>

            <h1>Mr. Quiz </h1>

    </header>
<br>
<main>
<span class="heading">Score bord</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<p>your score.</p>
<hr style="border:3px solid #f1f1f1">

<div class="row">
  <div class="side">
    <div>higher score</div>
    


  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div>98%</div>
  </div>
  <div class="side">
    <div>score 2</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div>92%</div>
  </div>
  <div class="side">
    <div>score 3</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div>88%</div>
  </div>
  <br>
  <div class="side">
    <div>score 4</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div>81%</div>
  </div>
  <br>
  <div class="side">
    <div>score 5</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div>78%</div>
  </div>
</div>
</main>
</body>
</html>





<!-- import React,{compnemt} from 'react'

export class ScoreBord extends Component {
    constructor(props)
    super(props)
    this.state ={
        fakePlayer:
    }
}
<div>
    <div className ="card">
        <div class="card-body"></div>
        <table class="table table -borderless">
            <tbody>
                <tr>
                   this.state.fakePlayer.map((el,index) =>{
                       return (
                    <td class="border-0">Categories</td>
                    <td class="border-0" >Name and picture</td>
                    <td class="border-0">Score</td>
                </tr>
                )
            })
            </tbody>

        </table> -->
