                            #squad {
                                color: black;
                                text-align: center;
                                font-family: cursive;
                                font-size: 2.5em;
                            }
                            
                            #username {
                                color: white;
                                font-size: 2em;
                                font-family: cursive;
                            }
                            
                            .photos {
                                width: 65%;
                                top: 1%;
                                margin-left: auto;
                                margin-right: auto;
                            }
                            
                            .tile {
                                width: 200px;
                                height: 200px;
                                margin: 40px;
                                background-color: #0000004d;
                                display: inline-block;
                                background-size: cover;
                                position: relative;
                                cursor: pointer;
                                transition: all 0.4s ease-out;
                                box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.70);
                                overflow: hidden;
                                color: white;
                                font-family: cursive;
                                border-radius: 8px;
                                left: 90px;
                                top: 100px;
                                margin-bottom: 50px;
                            }
                            
                            .girls {
                                position: relative;
                                left: 200px;
                                margin-bottom: 20%;
                            }
                            
                            .tile img {
                                height: 100%;
                                width: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 0;
                                transition: all 0.4s ease-out;
                            }
                            
                            .tile .text {
                                position: absolute;
                                padding: 30px;
                                height: 100%;
                                font-size: large;
                            }
                            
                            .tile h2 {
                                margin: 20px 0 0 0;
                                transform: translateX(200px);
                                text-align: center;
                                font-family: cursive;
                                font-size: X-large;
                            }
                            
                            .animate-text {
                                opacity: 0;
                                transition: all 0.6s ease-in-out;
                                position: relative;
                                top: 20px;
                            }
                            
                            .tile:hover {
                                box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
                                transform: scale(1.05);
                            }
                            
                            .tile:hover img {
                                opacity: 0.4;
                            }
                            
                            .tile:hover .animate-text {
                                transform: translateX(0);
                                opacity: 1;
                            }
                            
                            .fab {
                                /* background-color:hotpink; */
                                position: relative;
                                left: 30px;
                                top: 8px;
                                color: black;
                            }
                            
                            .tile:hover .animate-text {
                                transform: translateX(0);
                                opacity: 1;
                            }
                            
                            .fab {
                                /* background-color:hotpink; */
                                position: relative;
                                left: 30px;
                                top: 8px;
                                color: black;
                            }
                            
                            .fab:hover {
                                color: #fff;
                            }
                            
                            footer .fab {
                                position: relative;
                                left: 30px;
                                top: 8px;
                                color: rgb(255, 255, 255);
                            }
                            
                            * {
                                box-sizing: border-box;
                            }
                            
                            .logo-img {
                                float: left;
                                position: relative;
                                padding-top: 40px;
                                margin-left: 10px;
                                width: 230px;
                                height: 70px;
                            }
                            
                            .clr {
                                clear: both;
                            }
                            
                            .item {
                                position: relative;
                                top: 15px;
                            }
                            
                            .item li {
                                display: inline-block;
                                padding-right: 12px;
                            }
                            /* Add some padding inside the card container */
                            
                            .container {
                                padding: 2px 16px;
                            }
                            
                            .circle-icon {
                                padding: 12px;
                            }