body {
    font-family: cursive;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #5c5d5c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 38%;
    margin-left: 310px;
}

button:hover {
    opacity: 0.4;
}


/* Extra styles for the cancel button */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Center the image and position the close button */

.imgcontainer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

img.avatar {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* The Modal (background) */

.modal {
    z-index: 1;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-family: cursive;
    font-weight: bold;
    font-size: 1.5em;
}

input {
    background-color: rgb(199, 196, 196);
}

.modal-content {
    margin: 10% auto 10% auto;
    width: 80%;
}

fieldset {
    margin: auto auto 20% auto;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

hr {
    border: 1px solid #F1F1F1;
    margin-bottom: 30px;
}

.registerbtn {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a {
    color: dodgerblue;
}

.signin {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logBtn {
    background-color: #5c5d5c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 38%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logBtn:hover {
    opacity: 0.4;
}

.modal-content animate {
    background-color: #fefefe;
    margin: 10% auto 10% auto;
    border: 1px solid #888;
    width: 80%;
}

@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
h2 {
    font-size: calc(4px + 5vh);
    /* line-height: calc(0px + 10vh); */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: cursive;
    text-align: center;
}

#options {
    margin-left: 200px;
    margin-top: 150px;
}

#date {
    width: 99.5%;
    height: 38px;
}

.boldFonts {
    font-weight: bold;
}