<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="nav.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>

            <div id="mySidenav" class="sidenav">


                <div id="logo">
                    <span class="profile-img"><img src="https://www.hrzone.com/sites/all/themes/pp/img/default-user.png" width="110px" style="    margin-left: 10px;" /></span>
                </div>

                <div id="options">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/">Home</a>
                    <a href="/start">Quizzes</a>
                    <a href="/scores">Scores</a>
                    <a href="/profile">Profile</a>
                    <a href="/about-us">About-Us</a>

                </div>


                <div class="icon-bar">
                    <!-- <div> <a id="active1" href="#"><i class="fa fa-home"></i></a>
                    </div> -->
                    <div> <a id="active2" href="#"><i class="fa fa-search"></i></a>
                    </div>
                    <div> <a id="active3" href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                    <div> <a id="active4" href="#"><i class="fa fa-globe"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>



</body>


<span style="font-size:50px;cursor:pointer; color: #fda708;; position: fixed;" onclick="openNav()">&#9776; </span>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "white";
    }
</script>
</nav>
